{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}

{% block body %}
<div class="container my-3">
    <h1>Search Results :</h1>
    {% if allPosts|length < 1 %}
    <p>Your search <b>{{query}}</b> did not match any documents. Try using some other keywords.</p>
    {% endif %}
    {% for post in allPosts %}


    <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Posted on: {{post.timeStamp}}</strong>
            <a class="text-danger" href='/events'><h3 class="mb-0">{{post.title}}</h3></a>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:500 }}</p>
        </div>
        <div class="col-auto d-none d-lg-block">

        </div>
    </div>


    {% endfor %}
</div>
{% endblock %}