{% extends 'base.html' %}
{% block title %} WPS Teachers  {% endblock %}
{% block css %}
.card-img-top {
width: 100%;
height: 22rem;
object-fit: cover;
}
{% endblock %}
{% block body %}
<form action="/subject/" method="post">
    {% csrf_token %}
    <div class="container my-4">
        <div class="form-group">
            <label>Select Subject</label>
            <select class="form-control form-control-lg" id="sub" name="sub">
                <option>Physics</option>
                <option>Chemistry</option>
                <option>Maths</option>


            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Find</button>

    </div>
</form>
<div class="container my-4">
    <h1>Our Teachers:</h1>


    <div class="row">
        {% for teacher in teach %}

        <div class="col-sm-4 my-3 ">

            <div class="card" style="width: 20rem;">

                <img src="/media/{{teacher.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ teacher.name }} </h5>
                    <h5 class="card-title"><b>Subjects:</b> {{ teacher.subject }} </h5>
                    <h5 class="card-title"><b>Age:</b> {{ teacher.age }} </h5>
                    <h5 class="card-title"><b>Experience:</b> {{ teacher.experience }} years</h5>

                    <a href="#" class="btn btn-primary">More Info</a>

                </div>

            </div>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}
